@keyframes fade {
  0% {
    left: 5rem;
  }

  50% {
    left: 0;
  }

  100% {
    left: -100vw;
  }
}

.control__menu{
  position: relative;
  background: #25272A;
  mix-blend-mode: normal;
  opacity: 0.75;
  height: 100vh;
  transition: all 1s ease-in-out;
  z-index: 1;
  left: 0;
}

.control__menu-closed {
  position: absolute;
  z-index: 0;
  left: -100%;
  opacity: 0;
}
