*{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
  max-height: 100vh;
  display: flex;
}

.icon{
  width: 4rem;
  height: 4rem;
  background-color: white;
  margin-right: 1rem;
}

.navigation__list{
  height: 100vh;
  width: 15rem;
  border: 1px solid green;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.7;
  color: white;
  opacity: 0.8;
}

ul{
  list-style: none;
}

li.navigation__item{
  display: flex;
  align-items: center;
  width: 15rem;
  height: 5rem;
  border: 1px solid red;
  text-align: left;
}

.nav__text{
  text-align: center;
  font-size: 2rem;
}

.side__bar{
  max-width: 40rem;
  display: flex
}

.tab__window{
  height: calc(100% - 35px);
  width: 25rem;
  border: 1px solid black;
}

.tab__name{
  height: 3.5rem;
  display: flex;
}

.tab__name-text{
  margin-top: 0.2rem;
  font-size: 2rem;
  color: white;
}

.burger{
  margin-top: 0.5rem;
}

.line{
  /* position: absolute; */
  width: 1.3rem;
  margin: 0.3rem 2rem;
  border: 0.005rem solid white;
}

.control__menu{
  background: #25272A;
  mix-blend-mode: normal;
  opacity: 0.75;
  height: 100vh;
}

.map__holder{
  width: calc(100vw - 40rem);
  height: 100vh;
}

#map{
  height: 100%;
}
